<!DOCTYPE html>
<html>
    <head>
        <title>Browse Deploys</title>
    </head>
    <body>
        <ul>
            {%- for file in files %}
            <li><a href="{{ file }}">{{ file }}</a></li>
            {%- endfor %}
        </ul>
    </body>
</html>